* {
    border: 1px blueviolet solid;
    /* font-family: 'Lobster Two', cursive; */
    font-family: 'Uncial Antiqua', cursive;
}

.modalcontainer {
    visibility: hidden;
}

.correctanswer {
    background-color: chartreuse;
}

.wronganswer {
    background-color: crimson;
}