* {
    /* border: 1px blueviolet solid; */
    /* font-family: 'Lobster Two', cursive; */
    font-family: 'Uncial Antiqua', cursive;
    text-align: center;
}

.modalcontainer {
    visibility: hidden;
}

.upperwrap {
    position: relative;
    padding: 0;
    margin: 0;    
    background-image: url(../images/backdrop.jpg);
    background-size: cover;
    height: 70vh;
}

#banner {
    height: 100px;
    width: 100%;
    background-image: url(../images/grassborder.png);
    /* texture from para on OpenGameArt.org found at https://opengameart.org/node/15627 */
    background-size: 500px 100px;
    position: absolute;
    bottom: 0;
    margin: 0;
}

.playarea {
    display: flex;
    justify-content: space-between;
}

.mana-box {
    background-color: #ccc;
    height: 15px;
    width: 75px;
    margin: 0 auto;
    border: solid 1px #aaa;
  }

.mana-bar {
    background-color: #044fb1;
    width: inherit;
    height: 28px;
    position: relative;
    bottom: 56px;
  }

.mana-bar-blue {
    width: 100%;
    height: 100%;
    background-color: #3bd3df;
    bottom: 28px;
    position: relative;
  }

.answers {
    padding:0.3em 1.2em;
    margin:0.3em;
    border-radius:.3em;
    font-weight:300;
    color:#FFFFFF;
    background-color:#014491;
    text-align:center;
    transition: all 0.2s;
}

.answers:hover {
    cursor: pointer;
    background-color:#4095c6;
    box-shadow: 0 0 15px #463bdf;
}

.bottomwrapper {
    background-image: url(../images/stonewall.png);
    /* Image by Zagreb-Dubrava found on https://www.deviantart.com/zagreb-dubrava/art/Stone-Wall-Texture-2-316985646 */
}

.questcontainer {
    display: flex;
    flex-direction: column;
    background-image: url(../images/quest_scroll.png);
    /* Image from https://ya-webdesign.com */
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    height: 250px;
    justify-content: center;
    align-items: center;
}

#question {
    font-size: larger;
    color: rgb(87, 62, 0);
    padding-bottom: 1%;
}

